header{
    width: 100%;
    height: 95.25rem;

}
.image{
    width: inherit;
    height: 948px;
    background-image: url("../../icons/book.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 0;
    animation: FadeIn 1s 1s ease-out forwards;
}

.info{
    margin-top: 3.5rem;
    height: 3.625rem;
    width: 70rem;
    display: flex;
    justify-content: space-between;
}
.text{
    width: 656px;
    height: 200px;
    margin: 10rem 25rem 24.5rem;
    text-align: center;

}
.text h1{
    opacity: 0;
    transition: transform 2s;
    animation: FadeIn 4s 1ms ease ;

}
.text p {
    opacity: 0;
    margin-top: 32px;
    font: var(--body-lg);
    color: var(  --text-body);
    transition: transform 2s;
    animation: FadeIn 4s 2s ease forwards;
}
.image a{
    width: 5.5625rem;
    height: 2.5rem;
    font: var(--title-xs);
    text-decoration: none;
    color: var(  --text-title);
    background-color: var(  --pink-dark);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   padding: 20px;
   border-radius: 8px;
}


@keyframes logo{
    0%{
        transform: rotate(-0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}


@keyframes FadeIn{
     0% {
    opacity: 0;
    transform: translateY(25px); /* opcional para um efeito suave */
  }

  100% {
    opacity: 1;
    transform: translateY(-5);
  }
}

