/* ==== Estrutura Principal ==== */
.section-text {
  margin: 96px 85px 120px;
  padding: 60px;
  display: flex;
  justify-content: center;
}

.text-info {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 600px;
}

h2 {
  width: 75rem;
}

/* ==== Texto ==== */
.textpart {
  display: inline;
  opacity: 0.5;
}



/* ==== Spans com destaque ==== */

.supresy-book {
  top: 0;
  right: -15;
}

/* ==== Ícones ==== */
.icon-section {
  opacity: 0;
  position: absolute;
  transition: opacity 400ms ease forwards;
}

.img1 {
  right: 50%;
  bottom: 60%;
}

.img2 {
  animation-delay: 1s;
  left: 10%;
  bottom: 30%;
}

.img3 {
  animation-delay: 2s;
  right: 10%;
  bottom: 30%;
}

/* ==== Interações ==== */
.text-info:hover .textpart {
 animation: Opacity 400ms  ease forwards ;
}

.text-info:hover .icon-section {
  animation: fadeIn 400ms ease forwards;
}

.text-info:hover .span {
  animation: changeColor 400ms ease forwards ;
}
.text-info:hover .img1 {
    animation-delay: 0s;
    
}
.text-info:hover .img2 {
    animation-delay: 1s;
}
.text-info:hover .img3 {
    animation-delay: 2s;
}
.text-info:hover .supresy-book{
    animation-delay: 0s;
}
.text-info:hover .brindes{
    animation-delay: 1s;
}
.text-info:hover .encantadora{
    animation-delay: 2s;
}
.text-info:hover .textpartone { animation-delay: 0s; }
.text-info:hover .textparttwo { animation-delay: 1s; }
.text-info:hover .textpartthre { animation-delay: 2s; }


/* ==== Animações ==== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes changeColor {
  0% {}
  100% {
    color: var(--blue-light);
  }
}

@keyframes Opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
